body{
    background-image:url(https://cdn.guidingtech.com/imager/assets/197993/Best-Assassins-Creed-Origin-Wallpape-2_4d470f76dc99e18ad75087b1b8410ea9.jpg?1528910587);
	background-size: cover;
  	background-repeat: no-repeat; 
}
h1{
    text-align: center;
    color: white;
}
h2{
    color: rgb(255, 0, 0)
}

div{
    text-align: center
}