
.quote{
    font-size: 20px;
}
body{
    background-color: black;
}
.body{
    
    padding: 30px;
    margin-top: 20px;
    padding-bottom: 20px;
    margin-right: -8px;
    
    background-color: white;
    margin-left: 40px;
}
.the{
    color: black;
}
.young{
    color: silver;
}
.make{
    color: ;
}

.title{
    margin : -8px;

    background-color: goldenrod;
    border: black double 3px;
    padding: 1px;
    font-size: 26px;
    padding-left: 50px;
    border-radius: 15px;
    border-left: 0px;
    border-right: 0px;

}
h2{
    font-family: 'Courier New', Courier, monospace;
}
.apply{
    background: goldenrod;
    padding: 0px;
    width: 125px;
   /* padding-left: 20px;
    padding-right:  20px;*/
   
    border: black solid 2px;
    border-radius: 20px;
}
.para{
    margin-top: -10px;
}